[Desktop Entry]
Version=1.0
Name=MComix
Name[it]=MComix
GenericName=Comic Book Viewer
GenericName[sv]=Serieboksläsare
GenericName[fr]=Visionneur de bandes dessinées
GenericName[de]=Comic-Betrachter
GenericName[zh_CN]=漫画阅读器
Comment=A viewer for comic book archives
Comment[it]=Un visualizzatore di fumetti
Comment[es]=Un visor de comics
Comment[sv]=En serieboksläsare
Comment[fr]=Visionneur d'images spécialisé dans la lecture des bandes dessinées
Comment[pl]=Przeglądarka komiksów
Comment[de]=Betrachter für Comic-Archive
Comment[zh_CN]=漫画书档案阅读器
Exec=mcomix %F
Icon=mcomix
Terminal=false
Type=Application
StartupNotify=true
Categories=Graphics;Viewer;
MimeType=application/vnd.comicbook-rar;application/vnd.comicbook+zip;application/vnd.comicbook+pdf;application/x-cb7;application/x-ext-cb7;application/x-cbr;application/x-ext-cbr;application/x-cbt;application/x-ext-cbt;application/x-cbz;application/x-ext-cbz;application/pdf;application/x-pdf;application/x-ext-pdf;application/x-cbp;application/x-ext-cbp;image/bmp;image/x-MS-bmp;image/x-bmp;image/gif;image/jpeg;image/png;image/tiff;image/webp;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;
