*.pyc
__pycache__
win32/*.nupkg
*.egg-info/
build/
dist/
env/
install/
tags*

# Tools for archive extraction
mutool.exe
UnRAR64.dll
7z.dll
7z.exe

# Written by win32/build_msi.py for the chocolatey package
win32/tools/checksum.sha256
win32/tools/release.txt

# Written by win32/build_pyinstaller.py for the executable's version
win32/version_file.txt

# Test suite scratch space
test/tmp/
.pytest_cache/
